*.dcu
*.identcache
*.dproj.local
*.vcxproj.user
*.user
*.pdb
*.exp
*.lib
*.ipdb
*.pch
*.obj
*.iobj
*.log
*.tlog
*.dll.recipe
*.rsm
.vs
__history
/libyuv
/bin/Win64/dll/ffmpeg/avcodec-62.dll
/bin/Win64/dll/ffmpeg/nppif64_12.dll
